<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">You are welcome here!</h2>
                <hr class="light">
                <p class="text-faded">Welcome, and thank you for visiting Harvest Community Bible Church online. We hope that our website highlights the wide variety of worship, fellowship and service opportunities available. Please feel free to read more about our church on this site, or come in for a visit. We would love to greet you and share with you our love for Jesus Christ and for you, our neighbor.</p>
                <a href="#" class="btn btn-default btn-xl">Service Times/Locations</a>
            </div>
        </div>
    </div>
</section>
