<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">Whether you're a believer or not, you are welcome!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Deepen your faith</h3>
                    <p class="text-muted">We prioritize learning God's word and growing in our faith in Him more than just on Sunday!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Outreach</h3>
                    <p class="text-muted">We have a passion for sharing God's love and making Him known.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Bible Believers</h3>
                    <p class="text-muted">We believe the Bible is God's word and is a complete revelation of His will for our salvation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
